*{
    background-color: rgb(242, 240, 217);
}
.header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:200px;
    width:500px;
}
.container{
    /* height: 544px;
    width: 100%;
    border: 2px solid black; */
    /* for defining flex,we have to do the display of container as,display:flex */
    /* display: flex; */
     text-align: center;
     margin-left:226px;
}
.left img{
    /* margin-bottom:0px; */
    height:50%;
    width: 40%;
    margin-left: 0px;
    
}
.mid img{
    align-items: left;
    height:700px;
    width: 1000px;
}
#footer {
    
    background-color: rgb(238, 236, 188);
}

#footer img{
    background-color: rgb(238, 236, 188);
    width:90%;
    margin-left:50px;
    height:50%;
    align-items: center;
}
.text{
    background-color: rgb(238, 236, 188);
    text-align: center;
}
/* .text2 {
    background-color: rgb(239, 235, 168);
    text-align: center;
} */
.line {
    border-bottom: 5px solid red;
    margin-top: 5px;
    width: 100%;
}
