*{
    margin: 0;  
    padding: 0;
    background-color: rgb(246, 242, 198);

}
.header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height:200px; 
    width:500px;
}
.container{
    /* height: 600px; */
    height: 100%;
    width: 100%;
    /* border: 2px solid black;  */
    display: flex; 
}   
.item {
    width: 100px;
    height: 120px;
    /* background-color: tomato; */
    /* border: 2px solid green; */
    margin: 10px;
    padding: 3px;
}
#item-1{
   height:700px;
   width: 400px;

} 
#item-1 img{
    height:700px;
   width: 400px;
}
/* #item-1 h2{
    font-style: bold;
}  */
#item-2{
  
    height:600px;
    width:100%;
}
.text{
    text-align: center;
}
#item-2 img{
    height:500px;
    width:100%;
}
.mid{
    margin-top: 90px;
    height: 600px;
    width: 100%; 
    /* border: 2px solid black;  */
    margin-left: 40px;
    margin-right:40px;
}
.mid span {
    font-size: small;
    text-align: center;
}

.img{
     /* background-color: rgb(238, 236, 188); */
    margin-top: 90px;
    height: 500px;
    width: 90%;
    margin-left: 40px;
    margin-right:40px; 
    align-items: center; 
}
.line {
    border-bottom: 5px solid rgb(237, 76, 76);
    margin-top: 5px;
    width: 100%;
}
.text1{
    text-align: center;
    font-size:large;
    font-weight: bold;
}
.pipe{
    color :rgb(237, 76, 76);
    font-weight: bold;
    font-size: large;

}
.last{
    margin-top: 120px;
    height: 200px;
    width: 100%; 
    background-color:rgb(237, 76, 76);
      /* border: 2px solid black;   */
      display: flex;
    
}
.box{
    width: 300px;
    height: 100px;
    /* background-color: tomato; */
    /* border: 2px solid green; */
    margin: 85px;
    padding: 3px;
     background-color:rgb(237, 76, 76); 
} 
#box-3 img{
    width:50px;
    height:50px;
    background-color:rgb(237, 76, 76);
}

#box-2 img{
    width:50px;
    height:50px;
    background-color:rgb(237, 76, 76);
}
#box-1 img{
    width:50px;
    height:50px;
    background-color:rgb(237, 76, 76);
}
.box span{
    background-color:rgb(237, 76, 76);
}

